<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.steve1316.uma_android_training_helper">

    <!--Grants permission for MediaProjection to display a Notification that tells users that it is currently running.-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!--Grants permission to display a floating START/STOP button that persists across any View.-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!--Grants permission to read and write to external storage for Tesseract's traineddata file.-->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UmaAndroidTrainingHelper"
        tools:ignore="AllowBackup">

        <!--Users will first be directed to MainActivity and then to HomeFragment.-->
        <activity
            android:name="com.steve1316.uma_android_training_helper.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--The MediaProjection service that controls taking screenshots of the screen.-->
        <service
            android:name="com.steve1316.uma_android_training_helper.utils.MediaProjectionService"
            android:foregroundServiceType="mediaProjection" />

        <!--Bot Service that will automate the specified workflow.-->
        <service android:name="com.steve1316.uma_android_training_helper.utils.BotService" />

        <!--Receiver that will send the "STOP" Intent to MediaProjection Service when the action button on the Notification is tapped.-->
        <receiver
            android:name="com.steve1316.uma_android_training_helper.utils.StopServiceReceiver"
            android:enabled="true"
            android:process=":remote" />
    </application>

</manifest>